.examples-title {
  font-size: 2em; /* Размер шрифта заголовка */
  line-height: 46px; /* Высота строки */
  color: #252c35; /* Цвет текста */
  text-align: center; /* Центрирование текста */
  margin: 20px 0; /* Отступы сверху и снизу */
}

/* Адаптивные стили */
@media (max-width: 768px) {
  .examples-title {
    font-size: 1.5em; /* Уменьшение размера шрифта для планшетов */
    line-height: 36px; /* Высота строки для планшетов */
  }
}

@media (max-width: 480px) {
  .examples-title {
    font-size: 1.2em; /* Уменьшение размера шрифта для мобильных устройств */
    line-height: 26px; /* Высота строки для мобильных устройств */
  }
}
