/*
  Header styles for the main header section, including layout, colors, and responsive design.
  The header contains the logo and navigation links.*/

.header {
  background-color: #007bff;
  color: rgb(0, 0, 0);
}

.header__wrapper {
  padding: 20px;
}

.header__title {
  margin: 0;
}

.nav ul {
  list-style: none; /* Removes default list styling */
  padding: 0; /* Removes padding */
  margin: 0; /* Removes margin */
  display: flex; /* Flexbox for horizontal layout */
}

.nav__item a {
  color: rgb(0, 0, 0); /* White text color */
  text-decoration: none; /* No underline */
  margin-right: 20px; /* Spacing between links */
}

/* Additional styles for responsiveness */
@media (max-width: 768px) {
  .header {
    flex-direction: column; /* Column layout for smaller screens */
  }
}
